*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #CBEEF3;
    border-radius: 0px 0px 20px 20px;
    height: 10vh;
}
.header-title {
    font-size: 1.5em;
}

.form{
    padding: 6vh 5vw ;
    width: 60vw;
    background-color: #DD2D4A;
    color: #FBFBFB;
}

.title{
    text-align: center;
}

.buttons{

    display: flex;
    justify-content: space-around;
}

.button{
    padding: 0.7vh 2vw;
    border: none;
}

.box{
    border-radius: 20px;
}

.back{
    
    text-decoration: none;
    background-color: #880D1E;
    color: white;
}

.add{
    background-color: #880D1E;
    color: white;
}
.bgPrimary {
    background-color: #F26A8D;
  }
  .border-button {
    border: 4px solid #CBEEF3;
  }
  .icon {
    color: #880D1E;
    font-family: "Fredoka One", cursive;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .header-button {
      border-color: #F26A8D;
  }
  
  .card-radius {
    border-radius: 25px;
  }
  .hover-actions:hover {
      border-color: #880D1E;
      background-color: #880D1E;
  }
  .text-hover-actions:hover i {
    color: #CBEEF3;
  }
  .add-hover-actions:hover i {
      color: #F26A8D;
  }
  .bgSecondary {
    background-color: #bb1f33; 
}


.fredoka{
    color: white;
    font-family: "Fredoka" , sans-serif;
    
}

.montserrat{
    font-family: "Montserrat", sans-serif;
}

.title{
    font-weight: bold;
}

.label_size{
    font-size: 1.5em;
}

.button-cancel{
    background-color: #F26A8D;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    width: 100px;
}

.button-confirm{
    background-color: #CBEEF3;
    font-weight: bold;
    border-radius: 20px;
    width: 100px;
}